# this is example of the file that can be used for storing private and user specific environment variables, like keys or system paths
# create a file named .env (by default .env will be excluded from version control)
# the variables declared in .env are loaded in run.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

### Data Paths ###
ACDC_DATA_PATH="path/to/acdc"
CAMUS_DATA_PATH="path/to/camus"
LUNG_DATA_PATH="path/to/lung-xray"

### API keys ###
COMET_API_KEY="<your-comet-api-key>"

### Error Flags ###
# HYDRA_FULL_ERROR=1
